body{
    background-color: #060b41;
    font-family:Arial, Helvetica, sans-serif
}
.game-page
{
    overflow:hidden;
}
.bar
{
    width : 300px;
    height : 20px;
    border:2px solid #000000;
    background-color: #ffffff;
    position : absolute;
    top: 30px;
    left: 25px;
}
#healthbar
{
    width : 250px;
    height : 20px;
    border:1px solid #000000;
    background-color: #1b9c31;
    position : absolute;
    top: 30px;
    left: 25px;
}
h2{
    
    color: #a515f9;
    float:right;
    position:absolute;
    right: 100px;
    top: 30px;
}
#board
{
    font-size: 16px;
    position:absolute;
    width: 150px;
    height: 140px;
    background-color:whitesmoke;
    right:104px;
    top:80px;
    padding-left:5px;
}
.chatbox {
    color:#000000;
    position: absolute;
    width: 270px;
    height: 200px;
    background:whitesmoke;
    bottom: 74px;
    right: 104px;
}

#chat-list {
    padding: 5px;
    height: 190px;
    overflow: hidden;
}

#chat-input {

    width: 71%;
    padding: 8px;
    border: 1px solid #4d4a4a;
}
#send{
    text-align: center;
    font-size: 16px;
    margin:2px;
    padding: 5px;

}
#icon
{
    width: 220px;
    height: 220px;
    border-radius: 205px;
    background-color: #2889e4;
    position: absolute;;
    margin: 190px;
}   


.pellet {
    position: absolute;
    
}

.mask
{
    background-image: url(..\images\mask.jpg);
    background-size: 100%;
    position:absolute;
    width: 80px;
    margin: 50px auto;
    bottom:100px;
    right: 460px;
    

}
.sanitizer
{
    background-image: url(..\images\sanitizer.jpg);
    background-size: 100%;
    position:absolute;
    width: 30px;
    margin: 50px auto;
    bottom:100px;
    right: 460px;

}

#laser
{
    background: greenyellow;
    width: 5px;
    height: 10px;
    position: absolute;

}

#arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
}


