body{
    
    font-family:'Krona One', sans-serif;
    
}
.game-page
{
    background :#060b41 scroll;
    overflow:hidden;
}
.transparent-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #44336d81;

}
.username-form{
    margin: auto;
    text-align: center;
    background: #cd39eba1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
}
#username{
    background-color: #bb8ae42a;
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
}
#submit{
    margin-top: 5px;
    background-color: #530a8fce;
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
    width: 50%;
}

.bar
{
    width : 300px;
    height : 20px;
    border:2px solid #000000;
    background: #ffffff;
    position : absolute;
    top: 30px;
    left: 25px;
}
#healthbar
{
    width : 250px;
    height : 20px;
    border:1px solid #000000;
    background-color: #1b9c31;
    position : absolute;
    top: 30px;
    left: 25px;
}
h2{
    color: #cd39eb;
    float:right;
    position:absolute;
    right: 100px;
    top: 30px;
}
#board
{
    font-size: 12px;
    position:absolute;
    width: 150px;
    height: 140px;
    background-color: whitesmoke;
    right:104px;
    top:80px;
    padding-left:5px;
}
.chatbox {
    color:#000000;
    position: absolute;
    width: 270px;
    height: 200px;
    background:whitesmoke;
    bottom: 74px;
    right: 104px;
}

#chat-list {
    padding: 5px;
    height: 190px;
    overflow: hidden;
}

#chat-input {

    width: 190px;
    padding: 8px;
    border: 1px solid #4d4a4a;
}
#send{
    text-align: center;
    font-size: 16px;
    padding: 5px 7px;
}
#icon
{   width: 220px;
    height: 220px;    
    position: fixed;
    margin: 190px;
    z-index: -1;
}   


.pellet {
    position: absolute;
    z-index:-3;
    width:50%;
}

.mask
{
    position:absolute;
    width:30%;
    z-index:-2;
}
.san
{
    position:absolute;
    width:35%;
    z-index:-2;
}

#laser
{
    background: greenyellow;
    width: 5px;
    height: 10px;
    position: absolute;

}

#arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
}


