body{
    
    font-family:'Krona One', sans-serif;
    margin: 0;
    padding: 0%;
    
}
.stars
{ 
  z-index: -8; 
  position:absolute;
  width:100%;
  height:100%;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png);
}
.game-page
{
    background :#14162b scroll;
    overflow:hidden;
}
#transparent-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #44336d81;
    z-index: 5;

}
#username-form{
    margin: auto;
    text-align: center;
    background: #cd39eba1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    z-index: 5;
}
#username{
    background-color: #bb8ae42a;
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
    z-index: 5;
}
#submit{
    margin-top: 5px;
    background-color: #530a8fce;
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    border-radius: 15px;
    border: 3px solid black;
    width: 50%;
    z-index: 5;
}

.score
{   text-align: center;
    padding: 1px;
    margin: auto;
    width : 300px;
    height : auto;
    position : absolute;
    color: #ffffff;
    top: 18px;
    right: 105px;
    font-size: 25px;
    z-index: 0;
    
} 

h2{
    color:white;
    float:right;
    position:absolute;
    right: 150px;
    top: 68px;
    z-index: 6;
} 

#board
{
    background-color: #631572a8;
    font-size: 12px;
    position:absolute;
    width: 250px;
    height: 150px;
    color: white;
    right: 115px;
    top: 85px;
    padding:15px;
    padding-top: 45px;
    z-index: 5;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}
#chatbox{
    color: whitesmoke;
    position: absolute;
    width: 400px;
    height: 400px;
    background-color:#0c1a69b0;
    right: 20px;
    bottom: 40px;
    border: 2px solid whitesmoke; 
    border-radius: 10px;
    scroll-behavior: smooth;
    list-style-type: none;
}
#chat-input {
    background-color: #0d1f83;
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid whitesmoke;
    opacity: 1;
    z-index: 6;
    border-radius: 5px;
    color: whitesmoke;
} 
#send{
    text-align: center;
    font-size: 16px;
    padding: 5px 7px;
    font-family:'Krona One', sans-serif;
    border-radius: 5px;
    
}

#chatbox li {
    padding: 5px 10px;
}

#chatbox li:nth-child(odd) {
    background: #eee;
}

#chat-form {
    position: absolute;
    text-align: center;
    padding: 5px;
    width: 400px;
    height: auto;
    bottom: 0px;    
    z-index: 1;
}
.pellets{
    animation: wigglePellets 3s ease-in-out infinite;
}
.sanitizers{
    animation: wiggleSan 3s ease-in-out infinite;
}
.masks{
    animation: wiggleMask 4s ease-in-out infinite;
}
@keyframes wigglePellets{
    0% {transform: translate(0.5px,0px);}
    30% {transform: translate(-0.5px,0.5px);}
    70% {transform: translate(0px,-0.5px);}
    100% {transform: translate(0.5px,0px);}
}
@keyframes wiggleSan {
    0% {transform: translate(2px,0px);}
    25% {transform: translate(0px,2px);}
    50% {transform: translate(-2px,0px);}
    75% {transform: translate(0px,-2px);}
    100% {transform: translate(2px, 0px);}
}
@keyframes wiggleMask {
    0% {transform: translate(-3px,0px);}
    25% {transform: translate(3px,0px);}
    50% {transform: translate(-3px,0px);}
    75% {transform: translate(+3px,0px);}
    100% {transform: translate(-3px,0px);}
}


#icon{   
    position: absolute;
    /*top: 240px;*/
    width: 100px;
    height: 100px;
    z-index: -1;
    border-radius:20%;
}   
   

#laser
{
    background: white;
    width: 5px;
    height: 5px;
    position: absolute;

}

#arrow{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
}

/* .name-space{
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
} */

.game-board {
    height: 700px;
    width: 1050px;
    background-color: rgba(14, 14, 65, 0.87);
    position: absolute;
    z-index: -7;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}

